input[type=text], select {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

body{
  text-align:center;
  background-image: url(/static/images/calculator.jpg);
  background-size: cover;

}

#disclaimer {
  font-family: 'Century Gothic',sans-serif;
  font-size: 15px;
}

#pic{
  position: absolute;
  width: 100%;
}

h2 {
  font-family: 'Century Gothic',sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 150;

}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 12px;
}
button:hover{
  background:#DDDDDD;
  color:#1AAB8A;
  border-ra
  dius: 12px;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


label{
  font-family: 'Century Gothic',sans-serif;
  font-size: 16px;

}

.home-utility {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.home-utility .col-one {
  width: 30%;
}

@media (max-width: 400px) {
  .flex-grid,
  .home-utility {
    display: block;
    .col-one {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}







.personal-travel {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.personal-travel .col-two {
  width: 30%;
}

@media (max-width: 400px) {
  .flex-grid,
  .personal-travel {
    display: block;
    .col-one {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}



.commuter {
  display: flex;
  justify-content: space-between;
  padding-left: 280px;
  padding-right: 280px;
}

.commuter .col-three {
  width: 42%;
}

@media (max-width: 400px) {
  .flex-grid,
  .commuter {
    display: block;
    .col-one {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing: border-box;
}

}
.flex-grid {
  margin: 0 0 20px 0;
}



.col-one {
  background: #DDDDDD;
  padding: 20px;
  border-radius: 20px;
}

.col-two {
  background: #DDDDDD;
  padding: 20px;
  border-radius: 20px;

}

.col-three {
  background: #DDDDDD;
  padding: 20px;
  border-radius: 20px;
}
