
input[type=text], select {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

body{
  text-align:center;
}


button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 12px;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
  border-radius: 12px;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}










.home-utility {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.home-utility .col {
  width: 30%;
}

@media (max-width: 400px) {
  .flex-grid,
  .home-utility {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}



* {
  box-sizing: border-box;
}

}
.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  background: #DDDDDD;
  padding: 20px;
}
