.container {
  position: relative;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-block {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 200px;
  padding-right: 20px;
}
