<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.10/p5.js"></script>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/about.css">
  </head>

    <!-- NAVIGATION BAR -->

  <body>
    <header>
      <div class="nav">
        <ul>
          <img src = "/static/images/EcoStep.png" class = "logo">
          <li class="home"><a href="/">Home</a></li>
          <li class="calculator"><a href="/input">Calculator</a></li>
          <li class="about"><a class="active" href="#">About Us</a></li>
        </ul>
      </div>
    </header>
    <div id = "emmanuel">
    <div class="box">
      <img src="/static/images/IMG_1315.jpg" alt="" class="box-img">
      <h1>Emmanuel Bazile</h1>
      <h5>Student at</h5><h5>University of Rhode Island</h5>
    <ul>
    <li><a href="https://www.linkedin.com/in/emmanuelbazile" target="_blank"><i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/EmmanuelBazile" target="_blank"><i class="fa fa-github-square github" aria-hidden="true"></i></a></li>
    <li><a href="mailto:emmanuelbazilec@gmail.com"><i class="fa fa-envelope email" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/emanuel.bazile/?hl=en" target="_blank"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    <div id = "fady">
    <div class="box">
      <img src="/static/images/IMG_5164.jpg" alt="" class="box-img">
      <h1>Fady Besada</h1>
      <h5>Student at</h5><h5> Rutgers University</h5>
    <ul>
    <li>
    <li><a href="https://www.linkedin.com/in/fadybesada/" target="_blank"><i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/fadybesada" target="_blank"><i class="fa fa-github-square github" aria-hidden="true"></i></a></li>
    <li><a href="mailto:besadafady@gmail.com"><i class="fa fa-envelope email" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/fady.besada/?hl=en" target="_blank"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    <div id = "amalia">
    <div class="box">
      <img src="/static/images/IMG_2666.jpg" alt="" class="box-img">
      <h1>Amalia Torres</h1>
      <h5>Student at</h5><h5>Queens College</h5>
    <ul>
    <li class = "linkedin"><a href="https://www.linkedin.com/in/amaliatorres209/" target="_blank"><i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i></a></li>
    <li class ="github"><a href="https://github.com/amaliatorres2" target="_blank"><i class="fa fa-github-square github" aria-hidden="true"></i></a></li>
    <li class ="email"><a href="mailto:amaliat209@gmail.com"><i class="fa fa-envelope email" aria-hidden="true"></i></a></li>
    <li class = "instagram"><a href="https://www.instagram.com/_amalia.t/?hl=en" target="_blank"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
  </body>
  <script src = "static/js/about.js"></script>
</html>
