<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.10/p5.js"></script>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/about.css">
  </head>

    <!-- NAVIGATION BAR -->

  <body>
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/input">Calculator</a>
    <a class="active" href="#about">About</a>
    </div>
    <div id = "emmanuel">
    <div class="box">
      <img src="/static/images/IMG_1315.jpg" alt="" class="box-img">
      <h1>Emmanuel</h1>
      <h5>Web Designer</h5>
      <p>nansnnskwnwisnaisaisinanisisan.</p>
    <ul>
    <li><a href="#"><i class="fa fa-gmail-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-mail-square" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    <div id = "fady">
    <div class="box">
      <img src="/static/images/IMG_5164.jpg" alt="" class="box-img">
      <h1>Fady</h1>
      <h5>Web Designer</h5>
      <p>nansnnskwnwisnaisaisinanisisan.</p>
    <ul>
    <li><a href="#"><i class="fa fa-gmail-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-mail-square" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    <div id = "amalia">
    <div class="box">
      <img src="/static/images/IMG_2666.jpg" alt="" class="box-img">
      <h1>Amalia</h1>
      <h5>Web Designer</h5>
      <p>nansnnskwnwisnaisaisinanisisan.</p>
    <ul>
    <li><a href="#"><i class="fa fa-gmail-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-mail-square" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
  </body>
  <script src = "static/js/about.js"></script>
</html>
