<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.10/p5.js"></script>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/about.css">
  </head>

    <!-- NAVIGATION BAR -->

  <body>
    <div class="topnav">
    <a href="/">Home</a>
    <a href="/input">Calculator</a>
    <a class="active" href="#about">About</a>
    </div>
  </body>
  <script src = "static/js/about.js"></script>
</html>



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Personal WebSite</title>
  </head>
  <body>
<div class="box">
  <img src="profile.jpg" alt="" class="box-img">
  <h1>
Emmanuel</h1>
<h5>
Web Designer</h5>
<p>
nansnnskwnwisnaisaisinanisisan.</p>
<ul>
<li><a href="#"><i class="fa fa-gmail-square" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
</ul>
</div>
</body>
</html>
