<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="/static/css/everypage.css">
  </head>

    <!-- NAVIGATION BAR -->
  <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="#calculator">Calculator</a>
  <a href="/about">About</a>
  </div>

  <body>
    <form method="post" action="/input">
      <label>
        Approximately, how much do you spend on electricity per month? :
        <input type="text" name="electricity" value="" placeholder="Write the name of your post here"><br><br>
      </label>

      <label>
        Approximately, how much do you spend on natural gas per month:
        <input type="text" name="natural_gas" value="" placeholder="Write the name of your post here"><br><br>
      </label>

      <label>
        Approximately, how much do you spend on heating oils and other fuels per month? :
        <input type="text" name="heating_oil" value="" placeholder="Write the name of your post here"><br><br>
      </label>
    </form>
  <form  action="/output">
    <button type="submit">Submit</button>
  </form>

  </body>
</html>
