<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="/static/css/everypage.css">
  <link rel="stylesheet" href="/static/css/input.css">
  </head>

    <!-- NAVIGATION BAR -->
  <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="#calculator">Calculator</a>
  <a href="/about">About</a>
  </div>

  <body>
    <form method="post" action="/output">
      <label>
        Approximately, how much do you spend on electricity per month?:
        <input type="text" name="electricity" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how much do you spend on natural gas per month?:
        <input type="text" name="natural_gas" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how much do you spend on heating oils and other fuels per month?:
        <input type="text" name="heating_oil" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how many miles do you drive each year?:
        <input type="text" name="miles_driven" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how many miles do you travel on a plane each year?:
        <input type="text" name="miles_flown" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how many miles do you commute with a train each year?:
        <input type="text" name="miles_train" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how many miles do you commute with a bus each year?:
        <input type="text" name="miles_bus" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>

      <label>
        Approximately, how many nights do you stay at a hotel each year?:
        <input type="text" name="hotel_nights" value="" placeholder="Enter 0 if N/A"><br><br>
      </label>


    <button type="submit">Find My Carbon Footprint!</button>
  </form>

  </body>

</html>
