<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EcoStep Calculator</title>
  <link rel="stylesheet" href="/static/css/everypage.css">
  <link rel="stylesheet" href="/static/css/input.css">
  </head>

    <!-- NAVIGATION BAR -->
  <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="#calculator">Calculator</a>
  <a href="/about">About Us</a>
  </div>

  <body>
    <br><br><br>
    <p> Disclaimer: There are 2.545 metric tons of carbon dioxide being added automatically to account for carbon emissions of food.</p>
    <br><br><br>
    <form method="post" action="/output">


      <div class="home-utility">
          <div class="col-one">

            <label>
              Approximately, how much do you spend on electricity per month?:<br><br>
              <input type="text" name="electricity" value="" placeholder="Enter 0 if N/A" required>
            </label>
          </div>

          <div class="col-one">
            <label>
            Approximately, how much do you spend on natural gas per month?:<br><br>
            <input type="text" name="natural_gas" value="" placeholder="Enter 0 if N/A" required>
            </label>
          </div>

          <div class="col-one">
            <label>
            Approximately, how much do you spend on heating oils and other fuels per month?:<br><br>
            <input type="text" name="heating_oil" value="" placeholder="Enter 0 if N/A" required>
          </label>
          </div>
      </div>
      <br><br>


      <div class="personal-travel">
          <div class="col-two">
            <label>
            Approximately, how many miles do you drive each year?:<br><br>
            <input type="text" name="miles_driven" value="" placeholder="Enter 0 if N/A" required><br><br>
            </label>
          </div>

          <div class="col-two">
            <label>
              Approximately, how many miles do you travel on a plane each year?:<br><br>
              <input type="text" name="miles_flown" value="" placeholder="Enter 0 if N/A" required><br><br>
            </label>
          </div>
      </div>



        <label>
          Approximately, how many miles do you drive each year?:
          <input type="text" name="miles_driven" value="" placeholder="Enter 0 if N/A" required><br><br>
        </label>

        <label>
          Approximately, how many miles do you travel on a plane each year?:
          <input type="text" name="miles_flown" value="" placeholder="Enter 0 if N/A" required><br><br>
        </label>

        <label>
          Approximately, how many miles do you commute with a train each year?:
          <input type="text" name="miles_train" value="" placeholder="Enter 0 if N/A" required><br><br>
        </label>

        <label>
          Approximately, how many miles do you commute with a bus each year?:
          <input type="text" name="miles_bus" value="" placeholder="Enter 0 if N/A" required><br><br>
        </label>

        <label>
          Approximately, how many nights do you stay at a hotel each year?:
          <input type="text" name="hotel_nights" value="" placeholder="Enter 0 if N/A" required><br><br>
        </label>

      <button id = "button" type="submit">Find My Carbon Footprint!</button>
      <br><br><br>
  </form>

  </body>

</html>
