<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EcoStep</title>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
  </head>
<body>
    <header>
      <div class="nav">
        <ul>
          <li class="home"><a class="active" href="#">Home</a></li>
          <li class="calculator"><a href="/input">Calculator</a></li>
          <li class="about"><a href="/about">About Us</a></li>
        </ul>
      </div>
    </header>
      <!--  TOP IMAGE   -->
    <video width "100" class = "video" playsinline = "playsinline" autoplay = "autplay" muted = "muted" loop = "loop">
    <source src = "/static/images/andrew.mp4" type = "video/mp4">
    </video>

    <section id ="parent">
      <div class="centered"> EcoStep </div>
      <div class="mission">
          <div class="col-one">
            <h2>Our mission is to inspire people to take action towards global climate
            change by increasing awareness on carbon emissions.</h2>
          </div>
      </div>
    </section>

  </body>
</html>
