<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
  </head>

    <!-- NAVIGATION BAR -->
  <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/input">Calculator</a>
  <a href="/about">About</a>
  </div>


  <body>
    
      <!--  TOP IMAGE   -->
    <div class="container">
  <img src="/static/images/nature1.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>Heading</h1>
    <p>Lorem ipsum..</p>
  </div>
</div>
  </body>
</html>
