<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
  </head>

    <!-- NAVIGATION BAR -->
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="#calculator">Calculator</a>
    <a href="/about">About</a>
  </div>

  <body>
    <h1>Your Carbon Footprint rating is: {{ rating }}</h1>
    <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
    </div>
<div id="hidden">
    <div id="electricityCO">
      {{ electricityCO }}
    </div>
    <div id="natural_gasCO">
      {{ natural_gasCO }}
    </div>
    <div id="heating_oilCO">
      {{ heating_oilCO }}
    </div>
    <div id="miles_drivenCO">
      {{ miles_drivenCO }}
    </div>
    <div id="miles_flownCO">
      {{ miles_flownCO }}
    </div>
    <div id="miles_trainCO">
      {{ miles_trainCO }}7
    </div>
    <div id="miles_busCO">
      {{ miles_busCO }}
    </div>
    <div id="hotel_nightsCO">
      {{ hotel_nightsCO }}
    </div>
    <div id="totalCO">
      {{ totalCO }}
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/output.js"></script>

  </body>
</html>
