<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/everypage.css">
    <link rel="stylesheet" href="/static/css/output.css">
  </head>

    <!-- NAVIGATION BAR -->
    <header>
      <div class="nav">
        <ul>
          <img src = "/static/images/EcoStep.png" class = "logo">
          <li class="home"><a href="/">Home</a></li>
          <li class="calculator"><a class="active" href="#">Calculator</a></li>
          <li class="about"><a href="/about">About Us</a></li>
        </ul>
      </div>
    </header>

  <body>
    {% if rating == "Very Good" %}
    <br><h1>Your Carbon Footprint rating is: <span style = "color: lime">{{ rating }}</span></h1></br>
    <p class = "know">Did You Know?</p>
    <p class = "scary"> {{ scary_facts_select }} </p></br>
      <div class = "graphcenter">  <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
        </div>
    <div id="hidden">
        <div id="electricityCO">
          {{ electricityCO }}
        </div>
        <div id="natural_gasCO">
          {{ natural_gasCO }}
        </div>
        <div id="heating_oilCO">
          {{ heating_oilCO }}
        </div>
        <div id="miles_drivenCO">
          {{ miles_drivenCO }}
        </div>
        <div id="miles_flownCO">
          {{ miles_flownCO }}
        </div>
        <div id="miles_trainCO">
          {{ miles_trainCO }}7
        </div>
        <div id="miles_busCO">
          {{ miles_busCO }}
        </div>
        <div id="hotel_nightsCO">
          {{ hotel_nightsCO }}
        </div>
        <div id="totalCO">
          {{ totalCO }}
        </div>
    </div>
  </div>

    {% endif %}

    {% if rating == "Good" %}
    <br><h1>Your Carbon Footprint rating is: <span style = "color: green">{{ rating }}</span></h1></br>
    <p class = "know">Did You Know?</p>
    <p class = "scary"> {{ scary_facts_select }} </p></br>
      <div class = "graphcenter">  <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
        </div>
    <div id="hidden">
        <div id="electricityCO">
          {{ electricityCO }}
        </div>
        <div id="natural_gasCO">
          {{ natural_gasCO }}
        </div>
        <div id="heating_oilCO">
          {{ heating_oilCO }}
        </div>
        <div id="miles_drivenCO">
          {{ miles_drivenCO }}
        </div>
        <div id="miles_flownCO">
          {{ miles_flownCO }}
        </div>
        <div id="miles_trainCO">
          {{ miles_trainCO }}7
        </div>
        <div id="miles_busCO">
          {{ miles_busCO }}
        </div>
        <div id="hotel_nightsCO">
          {{ hotel_nightsCO }}
        </div>
        <div id="totalCO">
          {{ totalCO }}
        </div>
    </div>
  </div>
    {% endif %}

    {% if rating == "Fair" %}
    <br><h1>Your Carbon Footprint rating is: <span style = "color: gold">{{ rating }}</span></h1></br>
    <p class = "know">Did You Know?</p>
    <p class = "scary">If everyone in the world utilized the same amount of carbon dioxide as you, it would take five Earths to provide enough resources for everyone.</p></br>
      <div class = "graphcenter">  <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
        </div>
    <div id="hidden">
        <div id="electricityCO">
          {{ electricityCO }}
        </div>
        <div id="natural_gasCO">
          {{ natural_gasCO }}
        </div>
        <div id="heating_oilCO">
          {{ heating_oilCO }}
        </div>
        <div id="miles_drivenCO">
          {{ miles_drivenCO }}
        </div>
        <div id="miles_flownCO">
          {{ miles_flownCO }}
        </div>
        <div id="miles_trainCO">
          {{ miles_trainCO }}7
        </div>
        <div id="miles_busCO">
          {{ miles_busCO }}
        </div>
        <div id="hotel_nightsCO">
          {{ hotel_nightsCO }}
        </div>
        <div id="totalCO">
          {{ totalCO }}
        </div>
    </div>
  </div>
    {% endif %}

    {% if rating == "Poor" %}
    <br><h1>Your Carbon Footprint rating is: <span style = "color: orangered">{{ rating }}</span></h1></br>
    <p class = "know">Did You Know?</p>
    <p class = "scary">If everyone in the world utilized the same amount of carbon dioxide as you, it would take five Earths to provide enough resources for everyone.</p></br>
      <div class = "graphcenter">  <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
        </div>
    <div id="hidden">
        <div id="electricityCO">
          {{ electricityCO }}
        </div>
        <div id="natural_gasCO">
          {{ natural_gasCO }}
        </div>
        <div id="heating_oilCO">
          {{ heating_oilCO }}
        </div>
        <div id="miles_drivenCO">
          {{ miles_drivenCO }}
        </div>
        <div id="miles_flownCO">
          {{ miles_flownCO }}
        </div>
        <div id="miles_trainCO">
          {{ miles_trainCO }}7
        </div>
        <div id="miles_busCO">
          {{ miles_busCO }}
        </div>
        <div id="hotel_nightsCO">
          {{ hotel_nightsCO }}
        </div>
        <div id="totalCO">
          {{ totalCO }}
        </div>
    </div>
  </div>
    {% endif %}

    {% if rating == "Very Poor" %}
      <br><h1>Your Carbon Footprint rating is: <span style = "color: red">{{ rating }}</span></h1></br>
      <p class = "know">Did You Know?</p>
      <p class = "scary">If everyone in the world utilized the same amount of carbon dioxide as you, it would take five Earths to provide enough resources for everyone.</p></br>
    <div class = "graphcenter">  <div id="container" style="width: 75%;"><canvas id="canvas"></canvas>
      </div>
  <div id="hidden">
      <div id="electricityCO">
        {{ electricityCO }}
      </div>
      <div id="natural_gasCO">
        {{ natural_gasCO }}
      </div>
      <div id="heating_oilCO">
        {{ heating_oilCO }}
      </div>
      <div id="miles_drivenCO">
        {{ miles_drivenCO }}
      </div>
      <div id="miles_flownCO">
        {{ miles_flownCO }}
      </div>
      <div id="miles_trainCO">
        {{ miles_trainCO }}7
      </div>
      <div id="miles_busCO">
        {{ miles_busCO }}
      </div>
      <div id="hotel_nightsCO">
        {{ hotel_nightsCO }}
      </div>
      <div id="totalCO">
        {{ totalCO }}
      </div>
  </div>
</div>
    {% endif %}

    {% if rating == "Good" or rating == "Very Good" %}
    <div class="wrapper">
    <br><h1>How to Continue Doing Well?</h1>
        <p class="subhead">Follow these steps:</p>
          <ol class="process-chart">

            <li>
              <h3>Eat Less Meat</h3>
              <div class="details">
                <p>Limiting meat consumption itself will implement a major difference.
                  Agricultural corporations greenhouse gas emissions are actually worse than fossil fuels. Our focus on diminishing our dependence on fossil fuels blinds us from a greater culprit. To produce a pound of beef will require over 5,000 gallons of water. Meat is the top consumer of our planet's freshwater, and livestock agriculture is rapidly increasing water insufficiency.</p>
              </div>
            </li>
            <li>
              <h3>Unplug Devices</h3>
              <div class="details">
                <p>All electronic devices still use energy while in standby. Standby is responsible for draining $19 billion worth of energy a year. Keep your device(s) unplugged at all times if your not using them.</p>
              </div>
            </li>
            <li>
              <h3>Drive Less</h3>
              <div class="details">
                <p>Try to walk, bike, skate or take public transportation. Many cities and university campuses have invested in infrastructure to reduce the necessity of owning a car. There are options such as trains, buses, bicycles, electric scooters and cars. Public transportation saves 37 million tons of carbon emissions a year.</p>
            </div>
          </li>
          <li>
            <h3>Quality Over Quality</h3>
            <div class="details">
              <p>Avoid cheap fashion items which are offered at very low prices. Due to their cheap material, many of these textiles fall apart and are discarded without thought. These thrown away clothes account for 15 million tons worth of textile waste. Buy less consumer merchandise, and more reusable items. Try to recycle items frequently and try buying pre owned items.</p>
            </div>
          </li>
          <li>
            <h3>Air Dry Clothes</h3>
            <div class="details">
              <p>A single dryer load requires 5 times more electricity than washing. By air drying your clothes, you will save about ⅓ of your footprint. Unfortunately, air drying your clothes is not popular in the United States compared to Europeans (about 95% of Italians do not own a dryer).</p>
            </div>
          </li>
          <li>
            <h3>Nonstop Flights</h3>
            <div class="details">
              <p>Air travel is most likely responsible for the majority of your carbon footprint. Try to reduce your flight frequency if possible, or drive instead for shorter trips. Additionally, try to fly nonstop because landing and takeoffs require/produce additional emissions.</p>
            </div>
          </li>
        </ol>

    </div>
    {% endif %}



    {% if rating == "Fair" or rating == "Poor" or rating == "Very Poor"%}
    <div class="wrapper">
      <br><h1>How to Prevent?</h1>
        <p class="subhead">Follow these steps:</p>
          <ol class="process-chart">
            <li>
              <h3>Eat Less Meat</h3>
              <div class="details">
                <p>Limiting meat consumption itself will implement a major difference.
                  Agricultural corporations greenhouse gas emissions are actually worse than fossil fuels. Our focus on diminishing our dependence on fossil fuels blinds us from a greater culprit. To produce a pound of beef will require over 5,000 gallons of water. Meat is the top consumer of our planet's freshwater, and livestock agriculture is rapidly increasing water insufficiency.</p>
              </div>
            </li>
            <li>
              <h3>Unplug Devices</h3>
              <div class="details">
                <p>All electronic devices still use energy while in standby. Standby is responsible for draining $19 billion worth of energy a year. Keep your device(s) unplugged at all times if your not using them.</p>
              </div>
            </li>
            <li>
              <h3>Drive Less</h3>
              <div class="details">
                <p>Try to walk, bike, skate or take public transportation. Many cities and university campuses have invested in infrastructure to reduce the necessity of owning a car. There are options such as trains, buses, bicycles, electric scooters and cars. Public transportation saves 37 million tons of carbon emissions a year.</p>
            </div>
          </li>
          <li>
            <h3>Quality Over Quality</h3>
            <div class="details">
              <p>Avoid cheap fashion items which are offered at very low prices. Due to their cheap material, many of these textiles fall apart and are discarded without thought. These thrown away clothes account for 15 million tons worth of textile waste. Buy less consumer merchandise, and more reusable items. Try to recycle items frequently and try buying pre owned items.</p>
            </div>
          </li>
          <li>
            <h3>Air Dry Clothes</h3>
            <div class="details">
              <p>A single dryer load requires 5 times more electricity than washing. By air drying your clothes, you will save about ⅓ of your footprint. Unfortunately, air drying your clothes is not popular in the United States compared to Europeans (about 95% of Italians do not own a dryer).</p>
            </div>
          </li>
          <li>
            <h3>Nonstop Flights</h3>
            <div class="details">
              <p>Air travel is most likely responsible for the majority of your carbon footprint. Try to reduce your flight frequency if possible, or drive instead for shorter trips. Additionally, try to fly nonstop because landing and takeoffs require/produce additional emissions.</p>
            </div>
          </li>
        </ol>
        </div>
    {% endif %}

    <p id = "recalc">Would you like to calculate another carbon footprint?</p><br>
        <form class="center" action="/input">
        <button id = "button" type="submit">Recalculate!</button>
      </form><br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/output.js"></script>

  </body>
</html>
